.new-article {
    display: grid;
    grid-template-columns: 70% auto;
}



.iphone-container {
  box-shadow: 0 5px 15px 0 #999999;
  width:100%;
  max-width: 360px;
  max-height: 730px;
  border: 1px solid #cecece;
  margin: 0 auto;
  background-color: #222;
  border-radius: 40px;
  border: 3px solid #90d863;
}
.iphone-container .camera, .iphone-container .mic {
  display: block;
}
.iphone-container .camera {
  margin: 15px auto 0;
  height: 10px;
  width: 10px;
  border-radius: 7.5px;
  background-color: #444444;
  position: relative;
}
.iphone-container .camera:after {
  position: absolute;
  top: 1px;
  left: 3.5px;
  content: '';
  display: block;
  margin: 2.5px auto 0;
  height: 2.5px;
  width: 2.5px;
  border-radius: 5px;
  background-color: #55d7e4;
}
.iphone-container .mic {
  margin: 10px auto 0;
  background-color: #444444;
  width: 50px;
  height: 5px;
  border-radius: 5px;
}
.iphone-container .home-button {
  border: 2px solid #555555;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 0 auto 15px;
}
.iphone-container .home-button:before {
  border: 2px solid #ade28c;
  height: 34px;
  width: 34px;
  margin: 1px auto 0;
  content: '';
  display: block;
  border-radius: 34px;
}

.iframe-container {
  height: 568px;
  width: 320px;
  overflow: auto;
  margin: 25px auto 15px;
  background-color: #ffffff;
  padding: 10px;
}

.iframe-container h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: .5rem;
  color: #000;
}

.article-details p {
  font-size: 1.15rem;
}

.iframe-container p.lead {
  font-size: 1.15rem;
  font-weight: 300;
}

  


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .column.preview {
    display: none;
  }
  .new-article {
    grid-template-columns: auto;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}