.categories-list {
    list-style: none;
    padding:0;
    margin:0;
}

.categories-list li a {
    padding: 5px 40px 5px 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    border:solid 1px #efefef;
    box-shadow: 0 2px #efefef;
    transition: background-color .3s;
    text-decoration: none;
    color: #333;
    display: block;
    cursor: pointer;
}

.categories-list li:hover a {
    color: #fff;
    background-color: #52657c;
}

.categories-list li a.active {
    color: #fff;
    background-color: #333f4e;
    font-weight: 500;
}